@page
@model DashboardWebApp.Pages.Managers.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Manager</h4>
<br />
<div asp-validation-summary="ModelOnly"></div>
@await Component.InvokeAsync("EditManager", Model.Manager)

