@page
@model DashboardWebApp.Pages.Managers.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h2>Manager</h2>


<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @await Component.InvokeAsync("EditManager", Model.ManagerEditM)
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Managers Users</h4>
            @await Component.InvokeAsync("EditManagerUser", Model.ManagerEditM.ManagerUserEditModels)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Save" class="btn" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}