@page
@model DashboardWebApp.Pages.RSUs.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @await Component.InvokeAsync("EditRSU", Model.RSUEditM)
    
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn" />
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}